.about {
    background-image: url('../../image/VidaProject.jpg');
    display: felx;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    height: 92vh;
    color: white;
}

.pic-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 92vh;
    /* height: 95%; */
}

.pic-container {
    background-image: url('../../image/home1.png');
    width: 80%;
    height: 80%;
    border-radius: 10px;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
    padding: 10px;
    width: 60%;
    margin-top: 0px;
    margin-right: 30px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 95%;
    margin-right: 40PX;
    row-gap: 30px;
}

.social-media {
    justify-content: center;
    padding: 40px;
    background-color: #2e2d2d;
    border-radius: 25px;
    color: aliceblue;
}