.about {
    background-image: url('../../image/VidaProject.jpg');
    display: felx;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    height: 92vh;
}

.pic-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    /* height: 95%; */
}

.pic-header {
    color: rgb(228, 169, 17);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 56px;
}

.pic-container {
    background-image: url('../../image/Vida.png');
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 95%;
    margin-right: 40PX;
    row-gap: 30px;
}

.social-media {
    justify-content: center;
    padding: 40px;
    background-color: #2e2d2d;
    border-radius: 25px;
    color: aliceblue;
    height: 25%;
}