.experience-container {
    display: flex;
    justify-content: center;
    background-image: url('../../image/home1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.work-experience {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
    padding: 10px;
    width: 70%;
    margin-top: 0px;
}

.work-experience-header {
    color: orange;
    font-size: 56px;
    justify-content: center;
}

.experience-box {
    padding: 15px;
    border-radius: 10px;
    width: 95%;
    background-color: #2e2d2d;
    column-gap: 30px;
}

.experience-box-header {
    display: flex;
    justify-content: space-between;
}

.experience-box-header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.experience-box-list {
    margin-top: 10px;
    margin-left: 20px;
}