.projects-container {
    position: fixed;
    left: 0;
    width: 100%;
    height: 96vh;
    background-image: url('../../image/home1.jpg');
    background-color: #121010;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.projects-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    overflow: auto;
    z-index: 1;
    row-gap: 50px;
    column-gap: 6%;
    width: 80%;
    height: 90vh;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.projects-wrapper::-webkit-scrollbar {
    display: none;
}

.first-card {
    display: flex;
    flex-direction: column;
    background-color: #2e2d2d;
    height: 300px;
    width: 300px;
}

.first-card-img {
    height: 150px;
    width: 300px;
}

.ex-first-card {
    padding: 10px 10px 10px;
}

.ex-first-card>h2 {
    color: rgb(228, 169, 17);
    font-size: 24px;
}

.ex-first-card>p {
    color: white;
    font-size: 18px;
}

.list-1 {
    margin-left: 15px;
}

.button-1 {
    color: white;
}


/* Styles for screens larger than 768px */

@media screen and (min-width: 500px) {
    .ex-first-card>h2 {
        font-size: 18px;
    }
    .ex-first-card>p {
        font-size: 16px;
    }
}


/* Styles for screens larger than 992px */

@media screen and (min-width: 992px) {
    .ex-first-card>h2 {
        font-size: 20px;
    }
    .ex-first-card>p {
        font-size: 16px;
    }
}


/* Styles for screens larger than 1200px */

@media screen and (min-width: 1200px) {
    .ex-first-card>h2 {
        font-size: 22px;
    }
    .ex-first-card>p {
        font-size: 16px;
    }
}