.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../image/home1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
    max-width: 100%;
    min-height: 96vh;
}

.projects-wrapper {
    width: 80%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 10%;
}

.first-card {
    display: flex;
    flex-direction: column;
    background-color: #2e2d2d;
    height: 320px;
    min-width: 300px;
    max-width: 400px;
}

.first-card-img {
    height: 150px;
    min-width: 300px;
    max-width: 400px;
}

.ex-first-card {
    padding: 10px 10px 10px;
}

.ex-first-card>h2 {
    color: rgb(228, 169, 17);
    font-size: 28px;
}

.ex-first-card>p {
    color: white;
    font-size: 20px;
}

.list-1 {
    margin-left: 15px;
}

.button-1 {
    color: white;
}