.projects-container {
    display: flex;
    justify-content: center;
    background-image: url('../../image/home1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
    max-width: 100%;
    height: 92vh;
}

.projects-wrapper {
    max-width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
}

.first-card {
    background-color: #2e2d2d;
    height: 300px;
    width: 300px;
}

.first-card-img {
    height: 150px;
    width: 300px;
}

.ex-first-card {
    padding: 10px 10px 10px;
}

.ex-first-card>h2 {
    color: rgb(228, 169, 17);
    font-size: 24px;
}

.ex-first-card>p {
    color: white;
    font-size: 18px;
}

.list-1 {
    margin-left: 15px;
}